<!DOCTYPE html>
<html>
<head>
    <title>Flagify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/slick.css" rel="stylesheet" type="text/css">
    <link href="/css/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="/css/cropper.min.css" rel="stylesheet" type="text/css">
    <link href="/css/select2.min.css" rel="stylesheet" type="text/css">

    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
    {{{body}}}
</body>
</html>